.formulario {
    display: flex;
    flex-direction: column;
}

.tituloSeccion {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-alta {
    border: 2px solid #ff5ca2;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    background-color: #fff0f6;
    display: flex;
    flex-direction: column;
}

.select {
    display: flex;
}

input,
select {
    padding: 3%;
    font-size: 0.9rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 1%;
}

.btn-guardar,
.btn-actualizar {
    background-color: #00a226;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 2%;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
    margin-left: 14px;
    margin-top: 14px;
}


.div-cantidad {
    display: flex;
    justify-content: center;
}



.div-cantidad input {
    width: 50%;
}


.btn-guardar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-guardar:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

