.div-main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
}

.div-titulo {
    margin: 5%;
    display: flex;
    justify-content: center;
}

.div-OP {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin:2%;

}