.div-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px;

}
body, html {
  font-family: "Inter", sans-serif;
}

.div-titulo {
    display: flex;
    justify-content: center;
}

.div-OP {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    gap: 20px;
    /* espacio entre cards */
}