


/* Card de operación */
.operacion {
  width: 120px; /* más grande en PC */
  height: 120px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s;
}

.operacion:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}

.operacion-icon {
  width: 60px;
  height: 60px;
  margin: 5px 0;
}

/* --- Responsivo para Mobile --- */
@media (max-width: 768px) {
  .operacion {
    width: 100px;
    height: 100px;
    padding: 5%;
  }

  .operacion-icon {
    width: 50px;
    height: 50px;
  }
}




/* ESTILOS SUBMENUS */
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  padding: 20px;
}

.boton {
  background-color: #f7f7f7;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  min-height: 220px;
}

.boton:hover {
  background-color: #e7efff;
  transform: translateY(-3px);
}

.icono {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  user-select: none;
}

h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  margin: 20px;
}

.submenu-btn {
  background: #c109ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.submenu-btn:hover {
  background: #7506f4;
}


